#sectionNewOrder {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.btnNewOrder {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
}
h2 {
    margin-top: 10px;
}

.btnList {
    margin-top: 10px;
}

.listOrigin {
    margin-bottom: 0;
}

.btn-link {
    text-decoration: none !important;
}

.action a{
    text-decoration: none !important;
}